<div class="container">
    <div class="col">
      <p class="text-center"><strong>Update your booking</strong></p>
      <%= simple_form_for [@palace, @booking],
        html: {data: { controller: 'flatpickr' } } do |f| %>
        <%= f.input :begin_date, as: :string, input_html: { data: { flatpickr_target: 'startDateInput', } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: 'endDateInput' } } %>
        <%= f.submit "Send the booking request!", class: "btn btn-primary" %>
      <% end %>
    </div>
  <%# <div><%= link_to "Back", palace_path(@palace), class: "btn btn-ghost"%>
</div>
