<div class="container">
  <div class="col">
    <h1>Booking <%= @palace.name %></h1>
    <p><%= @booking.begin_date %></p>
    <p><%= @booking.end_date %></p>
    <% if booking.user %>
    <%= link_to "Update the booking", edit_booking_path(@booking), class: "btn btn-ghost"%>
    <% else booking.palace.user %>
    <%= link_to "Accept the booking", accept_booking_path(@booking), class: "btn btn-ghost"%>
    <%= link_to "Refuse the booking", refuse_booking_path(@booking), class: "btn btn-ghost"%>
    <% end %>
  </div>
</div>
