<div class="container">
  <div class="col">
    <h1>My bookings <%= @booking.palace.name %></h1>
    <p><strong>Start :</strong><%= @booking.begin_date.strftime("%-d %B %Y") %></p>
    <p><strong>End :</strong><%= @booking.end_date.strftime("%-d %B %Y") %></p>
     <p><strong>Booked by :</strong> <%= @booking.user.email %></p>

    <p><strong>Palace Name:</strong> <%= @booking.palace.name %></p>
    <p><strong>Address:</strong> <%= @booking.palace.address %></p>
    <p><strong>Description:</strong> <%= @booking.palace.description %></p>
    <p><strong>Price:</strong> <%= @booking.palace.price %>€</p>
      <% if @booking.status == nil %>
     <p><strong>status:</strong> Pending</p>
     <% elsif @booking.status == false %>
      <p><strong>status:</strong> Refused</p>
       <% else @booking.status == true %>
      <p><strong>status:</strong> Confirmed</p>
      <% end %>




    <% if @booking.user == current_user %>
      <%= link_to "Edit the booking", edit_booking_path(@booking), class: "button-card"%>
    <% elsif current_user == @booking.palace.user %>
      <% if @booking.status == nil %>
        <%= link_to "Accept the booking", accept_booking_path(@booking), class: "btn btn-success", data: { turbo_method: :patch } %>
        <%= link_to "Refuse the booking", refuse_booking_path(@booking), class: "btn btn-danger", data: { turbo_method: :patch } %>


      <% end %>
    <% end %>




 form-show
    <%= link_to "Back to my bookings", bookings_path, class: "button-search" %>
  </div>
  </div>
</div>
