<%= render 'shared/navbar' %>

<div class="container">
  <div class="my-5">
    <h2>My future bookings</h2>
    <div class="row gx-3">
      <% if @future_bookings.empty? %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">No booking here yet!</h5>
            <%= link_to "Check the palaces!", palaces_path, class: "button-primary" %>
          </div>
        </div>
      <% else %>
        <% @future_bookings.each do |booking| %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= booking.palace.name %></h5>
                <p class="card-text">Host: <%= booking.palace.user.last_name %></p>
                <p class="card-text">Start Date: <%= booking.begin_date.strftime("%-d %B %Y") %></p>
                <p class="card-text">End Date: <%= booking.end_date.strftime("%-d %B %Y") %></p>
                <% if booking.status == false %>
                  <p class="card-text">Status: Pending</p>
                <% else %>
                  <p class="card-text">Status: Confirmed</p>
                <% end %>
              </div>
              <%= link_to "See booking details", booking_path(booking), class: "button-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

   <div class="my-5">
    <h2>My past bookings</h2>
    <div class="row gx-3">
      <% if @past_bookings.empty? %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">No booking here yet!</h5>
          </div>
        </div>
      <% else %>
        <% @past_bookings.each do |booking| %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= booking.palace.name %></h5>
                <p class="card-text">Host: <%= booking.palace.user.last_name %></p>
                <p class="card-text">Start Date: <%= booking.begin_date.strftime("%-d %B %Y") %></p>
                <p class="card-text">End Date: <%= booking.end_date.strftime("%-d %B %Y") %></p>
                <% if booking.status == false %>
                  <p class="card-text">Status: Pending</p>
                <% else %>
                  <p class="card-text">Status: Confirmed</p>
                <% end %>
              </div>
            <%= link_to "See booking details", booking_path(booking), class: "button-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <h2>My cancelled bookings</h2>
    <div class="row gx-3">
      <% if @cancelled_bookings.empty? %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">No booking here yet!</h5>
          </div>
        </div>
      <% else %>
        <% @cancelled_bookings.each do |booking| %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= booking.palace.name %></h5>
                <p class="card-text">Host: <%= booking.palace.user.last_name %></p>
                <p class="card-text">Start Date: <%= booking.begin_date.strftime("%-d %B %Y") %></p>
                <p class="card-text">End Date: <%= booking.end_date.strftime("%-d %B %Y") %></p>
                <% if booking.status == false %>
                  <p class="card-text">Status: Pending</p>
                <% else %>
                  <p class="card-text">Status: Confirmed</p>
                <% end %>
              </div>
            <%= link_to "See booking details", booking_path(booking), class: "button-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
