<div class="container mt-5">
<div class= "row">
  <ul class="nav nav-tabs" >
    <div class= "col-4">
      <li class="nav-item flex-fill">
        <%= link_to dashboard_palaces_path, class: "nav-link w-100" do %>
            <div aria-current="page">SEE MY PALACES</div>
        <% end %>
      </li>
      </div>
      <div class = "col-4">
      <li class="nav-item flex-fill">
        <%= link_to dashboard_bookings_as_owner_path, class: "nav-link active w-100" do %>
            <div aria-current="page", >MANAGE THE BOOKING</div>
        <% end %>
      </li>
        </div>
        <div class= "col-4">
      <li class="nav-item flex-fill">
        <%= link_to new_palace_path, class: "nav-link w-100" do %>
        <div aria-current="page", >ADD A PALACE</div>
        <% end %>
      </li>
    </div>
  </ul>
</div>
 <div class="container mt-5">
  <div class="my-5">
    <h2>Manage my future bookings</h2>
    <div class="row gx-3">
      <% if @manager_future_bookings.empty? %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Up-to-date!</h5>
          </div>
        </div>
      <% else %>
        <% @manager_future_bookings.each do |booking| %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= booking.palace.name %></h5>
                <p class="card-text">Visitor: <%= booking.user.first_name %></p>
                <p class="card-text">Start Date: <%= booking.begin_date.strftime("%-d %B %Y") %></p>
                <p class="card-text">End Date: <%= booking.end_date.strftime("%-d %B %Y") %></p>
                <% if booking.status == nil %>
                  <p class="card-text">Status: Pending</p>
                <% elsif booking.status == true %>
                  <p class="card-text">Status: Confirmed</p>
                <% else %>
                  <p class="card-text">Status: Denied</p>
                <% end %>
              </div>
              <%= link_to "See booking details", booking_path(booking), class: "button-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

   <div class="my-5">
    <h2>History of past bookings</h2>
    <div class="row gx-3">
      <% if @manager_past_bookings.empty? %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">No booking here yet!</h5>
          </div>
        </div>
      <% else %>
        <% @manager_past_bookings.each do |booking| %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= booking.palace.name %></h5>
                <p class="card-text">Visitor <%= booking.user.first_name %></p>
                <p class="card-text">Start Date: <%= booking.begin_date.strftime("%-d %B %Y") %></p>
                <p class="card-text">End Date: <%= booking.end_date.strftime("%-d %B %Y") %></p>
                <% if booking.status == false %>
                  <p class="card-text">Status: Pending</p>
                <% else %>
                  <p class="card-text">Status: Confirmed</p>
                <% end %>
              </div>
            <%= link_to "See booking details", booking_path(booking), class: "button-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <h2>History of cancelled bookings</h2>
    <div class="row gx-3">
      <% if @manager_cancelled_bookings.empty? %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">No booking here yet!</h5>
          </div>
        </div>
      <% else %>
        <% @manager_cancelled_bookings.each do |booking| %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= booking.palace.name %></h5>
                <p class="card-text">Visitor <%= booking.user.first_name %></p>
                <p class="card-text">Start Date: <%= booking.begin_date.strftime("%-d %B %Y") %></p>
                <p class="card-text">End Date: <%= booking.end_date.strftime("%-d %B %Y") %></p>
                <% if booking.status == false %>
                  <p class="card-text">Status: Pending</p>
                <% else %>
                  <p class="card-text">Status: Confirmed</p>
                <% end %>
              </div>
            <%= link_to "See booking details", booking_path(booking), class: "button-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
