<%= render 'shared/navbar' %>

  <div class="content-wrapper">
    <div class="image-background">
      <div class="text-overlay">
        <h1>Bienvenue sur Airbpalace</h1>
        <h3>Louez votre palace de rêve pour vos vacances</h3>
      <div class="wrap-bottom mt-5 mb-2">
        <div class="navbar-bottom w-100 d-flex justify-content-center">
          <form class="d-flex" role="search">
            <input class="recherche me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="button-search" type="submit">Search</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>

<div class="container mt-5">
  <div class="row justify-content-evenly g-3">
    <% @palaces.each do |palace| %>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.lecollectionist.com/__lecollectionist__/production/houses/7336/photos/Yz13vnLwSjG3i5F4VdpC_0c03f529-5d68-40c4-b964-c19b8d16c019.jpg?width=2880&q=65" class="card-img-top" style="object-fit: contain;" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= palace.name %></h5>
          <p class="card-text"><%= palace.description %></p>
          <p class="card-text"><%= palace.address %></p>
          <%= link_to "See the palace", palace_path(palace), class:"button-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
