

<div class="container mt-5">

  <div class="onglets d-flex justify-content-md-center pb-5">
    <%= link_to "Voir", dashboard_palaces_path, class: "mx-3"%>
    <%= link_to "Gérer mes réservations", dashboard_bookings_as_owner_path, class: "mx-3"%>
  </div>

  <div class="d-flex justify-content-end p-2 pe-5">
    <%= link_to "+ Add a new palace", new_palace_path, class:"button-card"%>
  </div>

<div class="container mt-5">
  <div class="row justify-content-evenly g-3">
    <% @palaces.each do |palace| %>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.lecollectionist.com/__lecollectionist__/production/houses/7336/photos/Yz13vnLwSjG3i5F4VdpC_0c03f529-5d68-40c4-b964-c19b8d16c019.jpg?width=2880&q=65" class="card-img-top" style="object-fit: contain;" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong><%= palace.name %></strong></h5>
          <p class="card-text"><em><%= palace.address %></em></p>
          <%= link_to "See my palace", palace_path(palace), class:"button-card"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
