
<div class="container">
  <h1 class="text-center">Update your palace</h1>
  <%= simple_form_for [@palace] do |f| %>
   <%= f.input :name, label: "Name" %>
   <%= f.input :description, label: "Description" %>
   <%= f.input :address, label: "Address" %>
   <%= f.input :price, label: "Your Price" %>
   <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
  <div><%= link_to "Back", palace_path(@palace), class: "btn btn-ghost"%></div>
</div>
